@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400;500;600;700&family=Euphoria+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@-webkit-keyframes border-expand {
  from {
    opacity: 0%;
    width: 0px;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
}
@keyframes border-expand {
  from {
    opacity: 0%;
    width: 0px;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
}

body {
  background-color: #f4ededff;
  color: #0b132bff;
  font-family: Lato, Poppins, sans-serif;
  scroll-behavior: smooth;
}

main {
  opacity: 0;
  -webkit-transition: opacity 1s 1s ease-in-out;
  transition: opacity 1s 1s ease-in-out;
}

input[type="text"] {
  background-color: inherit;
}

a {
  color: #44bba4ff;
  text-decoration: none;
  animation-direction: reverse;
}

a:hover {
  color: #f3b61fff;
}

caption {
  color: #4c5760ff;
}

mark {
  background-color: #f4ededff;
}

.blockquote-footer {
  color: #4c5760ff;
}

.btn {
  color: #0b132bff;
}

.btn-light {
  color: #0b132bff;
  background-color: #eae4e4ff;
  border-color: #eae4e4ff;
}

.btn-light:hover {
  color: #0b132bff;
}

.btn-light:focus, .btn-light.focus {
  color: #0b132bff;
}

.btn-light:disabled, .btn-light.disabled {
  color: #0b132bff;
  background-color: #eae4e4ff;
  border-color: #eae4e4ff;
}

.btn-light:not(:disabled):note(.disabled):active, .btn-light:not(:disabled):note(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #0b132bff;
}

.btn-dark {
  color: #f4ededff;
  background-color: #0b132bff;
  border-color: #0b132bff;
}

.btn-dark:hover {
  color: #eae4e4ff;
  background-color: #080e20;
  border-color: #f4ededff;
}

.btn-dark:focus, .btn-dark.focus {
  color: #eae4e4ff;
  background-color: #080e20;
  border-color: #f4ededff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark:disabled, .btn-dark.disabled {
  color: #eae4e4ff;
  background-color: #040710;
  border-color: #0b132bff;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #f4ededff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-outline-dark {
  color: #0b132bff;
  border-color: #0b132bff;
}

.btn-outline-dark:hover {
  color: #f4ededff;
  background-color: #0b132bff;
  border-color: #0b132bff;
}

.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #0b132bff;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #f4ededff;
  background-color: #0b132bff;
  border-color: #0b132bff;
}

.badge-light {
  background-color: #eae4e4ff;
  color: #0b132bff;
}

a.badge-light:hover, a.badge-light:focus {
  color: #0b132bff;
}

.jumbotron {
  background-color: #0b132bff !important;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    font-size: 3rem;
  }
}

.list-group-item-action {
  color: inherit;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  background: #eae4e4ff;
  color: inherit;
  opacity: 0.75;
}

.list-group-item-action:active {
  color: #0b132bff;
}

.card {
  background-color: #f4ededff;
}

.modal-content {
  background-color: #f4ededff;
}

.modal-header {
  border-bottom: 1px solid #eae4e4ff;
}

.modal-footer {
  border-top: 1px solid #eae4e4ff;
}

.carousel-control-prev, .carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next, .carousel-control-next:hover, .carousel-control-next:focus {
  color: #0b132bff;
}

.carousel-indicators {
  bottom: 5%;
}

.carousel-indicators li {
  background-color: #0b132bff;
}

.bg-light {
  background-color: #eae4e4ff !important;
}

.bg-dark {
  background-color: #0b132bff !important;
}

.border {
  border: 1px solid #eae4e4ff !important;
}

.border-top {
  border-top: 1px solid #eae4e4ff !important;
}

.border-bottom {
  border-bottom: 1px solid #eae4e4ff !important;
}

.border-left {
  border-left: 1px solid #eae4e4ff !important;
}

.border-right {
  border-right: 1px solid #eae4e4ff !important;
}

.border-light {
  border-color: #eae4e4ff !important;
}

.border-dark {
  border-color: #0b132bff !important;
}

.border-light {
  border-color: #f4ededff !important;
}

.text-white {
  color: #f4ededff !important;
}

.text-light {
  color: #eae4e4ff !important;
}

.text-dark {
  color: #0b132bff !important;
}

.text-body {
  color: #0b132bff !important;
}

.text-muted {
  color: #4c5760ff !important;
}

.blog-header {
  line-height: 1;
}

.header-border {
  background-color: #4c5760ff;
  height: 1px;
  margin: auto;
  width: 100%;
  -webkit-animation: border-expand 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
          animation: border-expand 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.blog-header-logo {
  color: #44bba4ff;
  cursor: pointer;
  display: block;
  font-family: "Euphoria Script", "Dancing Script", cursive;
  font-size: 2.5rem;
  text-decoration: none;
}

.blog-header-logo:hover {
  color: #44bba4ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Playfair Display, DM Serif Display, serif;
  font-weight: bold;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav a:hover .border {
  -webkit-animation: border-expand 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
          animation: border-expand 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation-direction: normal;
          animation-direction: normal;
  opacity: 100%;
  width: 100%;
}

.nav-scroller .nav a .border {
  -webkit-animation: border-expand 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
          animation: border-expand 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-direction: reverse;
  background-color: #4c5760ff;
  height: 1px;
  margin: auto;
  opacity: 0;
  width: 0;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250;
  }
}

.border-top {
  border-top: 1px solid #eae4e4ff;
}

.border-bottom {
  border-bottom: 1px solid #eae4e4ff;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #4c5760ff;
}

.blog-footer {
  background-color: #eae4e4ff;
  color: #4c5760ff;
  padding: 2.5rem 0;
  text-align: center;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

footer span a {
  font-size: 30px;
  margin: 0 10px;
}

button[data-click='yes'] {
  background-color: #fc7a57ff;
  border-color: #fc7a57ff;
  color: #0b132bff;
}

button[data-sort-direction='forward'], button[data-sort-direction='reverse'] {
  background-color: #44bba4ff;
  border-color: #44bba4ff;
  color: #0b132bff;
}

button[data-sort-direction="off"] em.forward, button[data-sort-direction="reverse"] em.forward {
  display: none;
}

button[data-sort-direction="off"] em.reverse, button[data-sort-direction="forward"] em.reverse {
  display: none;
}

button[data-sort-direction='forward'] em.forward {
  display: initial;
}

button[data-sort-direction='reverse'] em.reverse {
  display: initial;
}

.content {
  display: none;
}

.tags {
  color: #44bba4ff;
  font-weight: bold;
}

.review img[src=''] {
  display: none !important;
}

#sortDate[data-sort-direction='reverse'] {
  background-color: #0b132bff;
  border-color: #0b132bff;
  color: #f4ededff;
}

#sortDate[data-sort-direction='reverse'] em.reverse {
  display: none;
}
/*# sourceMappingURL=index.css.map */